header{
    background-color: #4b4b4b;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 45px;
    h1{
        color: #6f6f6f;
    }
    h3{
        color: #cbcbcb;
    }
}