.headerPrincipal {
  background-color: #363636;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 12rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);


  .logo {
    display: flex;
    align-items: center;
    
    img {
      height: 85px;
      width: auto;
    }
  }
}

/* .mainPrincipal {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  background-color: #e9e9e9;
  min-height: 90vh;
} */

.mainPrincipal {
  background-color: #e9e9e9;
  min-height: 90vh;
}

/* GRID REAL DE 3 COLUMNAS */
.mainTresColumnas {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 2rem;
}


.busquedaUsuarios {
  background-color: #f0f0f0;
  padding: 1rem;
  border-right: 2px solid #878787;
  height: 100%;
  overflow-y: auto;

  .busqueda-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    input {
      padding: 0.6rem;
      border-radius: 6px;
      border: 1px solid #888;
    }

    .mensaje-error {
      color: red;
      font-size: 0.9rem;
      font-weight: bold;
    }
      
      li {
        padding: 0.8rem;
        display: flex;
        gap: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }

.contenidoPrincipal {
   height: 100%;
  overflow-y: auto;
  padding: 2rem;
  h2{
    text-decoration: underline;
  }
}

.avisoDatos{
  margin-top: 2%;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.formUsuario{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  .inputsDatos{
    height: 30px;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .labelRadio{
    margin-bottom: 17px;
  }
  .grupoRadio{
    margin-bottom: 17px;
    label{
      margin-right: 20px;
    }
  }
  .grupoCheckbox{
    margin-bottom: 20px;
    label{
      margin-right: 20px;
    }
  }
}

.botonCargaUsuario{
  border-radius: 6px;
  background-color: greenyellow;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  margin-right: 20px;
}

.botonActualizarUsuario{
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 6px;
  background-color: aqua;
  font-size: 15px;
  font-weight: bold ;
  width: 150px;
  height: 40px
}

.botonEliminarUsuario{
  border-radius: 6px;
  background-color: rgb(255, 53, 53);
  font-size: 15px;
  font-weight: bold ;
  width: 150px;
  height: 40px
}

.mainTresColumnas {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 2rem; // 👈 ESTO ES CLAVE
}

.columnaRutinas {
  padding: 2rem;
  border-left: 2px solid #878787;
  background-color: #f7f7f7;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
  border-left: 2px solid #878787;
  background-color: #f7f7f7;
}