main{
    background-color: #cbcbcb;
    width: 100%;
    display: flex;
    aside{
        width: 50%;
        background-color: #cbcbcb;
    }
    section{
        width: 50%;
        background-color: #4b4b4b;
    }
}