.headerPrincipal {
  background-color: #363636;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 12rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  .logo {
    display: flex;
    align-items: center;
    
    img {
      height: 85px;
      width: auto;
    }
  }
}

.mainPrincipal {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  background-color: #e9e9e9;
  min-height: 90vh;
}

.busquedaUsuarios {
  background-color: #f0f0f0;
  padding: 1rem;
  border-right: 2px solid #878787;

  .busqueda-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    input {
      padding: 0.6rem;
      border-radius: 6px;
      border: 1px solid #888;
    }

    .mensaje-error {
      color: red;
      font-size: 0.9rem;
      font-weight: bold;
    }
      
      li {
        padding: 0.8rem;
        display: flex;
        gap: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
  
  .item-usuario-seleccionado {
  background-color: #c2e7ff !important;
  border-left: 4px solid #0077cc;
}

.contenidoRutinas {
  padding: 2rem;
  h2{
    text-decoration: underline;
  }
  .centradoTexto{
    display: flex;
    button{
        margin-left: 20px;
        background-color: greenyellow;
    }
  }
}

.formRutina{
    margin-top: 20px;
    font-weight: bold;
    .ejerciciosRutina {
      display: flex;
      margin-top: 20px;
      gap: 40px; 

      .bloqueRutina {
        display: flex;
        flex-direction: column;

       label {
         font-weight: bold;
         margin-bottom: 5px; 
       }

        textarea {
          height: 200px;
          width: 250px;
        }
      }
}

    .botonesRutina{
        background-color: greenyellow;
        border-radius: 6px;
        font-size: 15px;
        font-weight: bold ;
        width: 150px;
        height: 40px;
        margin-top: 20px;
        margin-right: 20px;
}

.botonActualizar{
  background-color: aqua;
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold ;
  width: 150px;
  height: 40px;
  margin-right: 20px;
}
.botonEliminar{
  background-color: rgb(255, 53, 53);
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold ;
  width: 150px;
  height: 40px
}
}

