header{
    background-color: #e9e9e9;
    h1{
        font-size: 40px;
    }
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #e9e9e9;
}

.busquedaUsuarios{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    padding: 1% 1%;
}