.tituloRutinas{
  text-decoration: underline;
  margin-bottom: 10px;
}

.selectRutinas{
  margin-bottom: 15px;
}

    .botonesRutina{
        background-color: greenyellow;
        border-radius: 6px;
        font-size: 15px;
        font-weight: bold ;
        width: 150px;
        height: 40px;
        margin-top: 20px;
        margin-right: 20px;
}


.botonActualizar{
  background-color: aqua;
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold ;
  width: 150px;
  height: 40px;
  margin-right: 20px;
}
.botonEliminar{
  background-color: rgb(255, 53, 53);
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold ;
  width: 150px;
  height: 40px
}


.formRutina {
  margin-top: 20px;
  font-weight: bold;

  label{
    b{
      margin-right: 10px;
    }
  }

  .selectDisciplinas{
    margin-right: 10px;
  }

  .nombreRutina{
    margin-right: 10px;
  }

  .ejerciciosRutina {
    display: flex;
    margin-top: 20px;
    gap: 40px;

    .bloqueRutina {
      display: flex;
      flex-direction: column;

      textarea {
        height: 370px;
        width: 250px;
      }
    }
  }

  .botonesRutina {
    background-color: greenyellow;
    border-radius: 6px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
  }
}
