main {
  flex: 1; // Ocupa el espacio restante
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  aside {
    background-color: #9f9f9f;
    padding: 1rem;
    .logoLogin{
      display: flex;
      justify-content: center;
    .logoImagen{
      margin-top: 5%;
      height: 550px;
    }
    }
    .fraseLogin{
      display: flex;
      justify-content: center;
      margin-top: 8%;
      color: #ffffff;
      font-size: 60px;
      font-weight: bold;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 2px;
    }
  }
  
  section {
    background-color: #4b4b4b;
    padding: 1rem;
    h1{
      display: flex;
      justify-content: center;
        color: #ffffff;
        font-size: 60px;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
    }
    .titulo{
      display: flex;
      justify-content: center;
      margin-top: 10%;
    h3{
      color: #ffffff;
      font-size: 30px;
    }
  }
    .form{
      margin-top: 10%;
      margin-left: 2%;
    }
    .inputs{
      
      label{
        display: block;
        font-size: 20px;
        color: #ffffff;
      }
      #dni{
        height: 50px;
        width: 90%;
        margin-bottom: 5%;
        border-radius: 10px;
      }
      #password{
        height: 50px;
        width: 90%;
        border-radius: 10px;
        margin-bottom: 5%;
      }
    }
      .recordar{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 20px;
        color: #ffffff;
      }
      
      input[type="checkbox"]{
        width: 20px;
        accent-color: aqua; 
      }

      .cambioContraseña{
        display: flex;
        justify-content: center;
        a{
          color: #ffffff;
          font-weight: bold;
          font-size: 20px;
          margin-top: 5%;
          &:hover{
            color: #00ecd1;
          }
        }
      }

      .volverInicioSesion{
        display: flex;
        justify-content: center;
        a{
          color: #ffffff;
          font-weight: bold;
          font-size: 30px;
          margin-top: 5%;
          &:hover{
            color: #00ecd1;
          }
        }
      }

      .credencialesInvalidas{
        color: rgb(255, 54, 54);
        display: flex;
        justify-content: center;
        margin-top: 5%;
        font-size: 30px;
        font-weight: bold;
      }

      .botonIngresarCentrar{
        display: flex;
        justify-content: center;
        margin-top: 5%;
      }
      .botonIngresar{
        background-color: aqua;
        height: 75px;
        width: 50%;
        border-radius: 35px;
        font-size: 30px;
        font-weight: bold;
      }
  }
}