@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }

main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  main aside {
    background-color: #9f9f9f;
    padding: 1rem; }
    main aside .logoLogin {
      display: flex;
      justify-content: center; }
      main aside .logoLogin .logoImagen {
        margin-top: 5%;
        height: 550px; }
    main aside .fraseLogin {
      display: flex;
      justify-content: center;
      margin-top: 8%;
      color: #ffffff;
      font-size: 60px;
      font-weight: bold;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 2px; }
  main section {
    background-color: #4b4b4b;
    padding: 1rem; }
    main section h1 {
      display: flex;
      justify-content: center;
      color: #ffffff;
      font-size: 60px;
      -webkit-text-stroke-color: black;
      -webkit-text-stroke-width: 1px; }
    main section .titulo {
      display: flex;
      justify-content: center;
      margin-top: 10%; }
      main section .titulo h3 {
        color: #ffffff;
        font-size: 30px; }
    main section .form {
      margin-top: 10%;
      margin-left: 2%; }
    main section .inputs label {
      display: block;
      font-size: 20px;
      color: #ffffff; }
    main section .inputs #dni {
      height: 50px;
      width: 90%;
      margin-bottom: 5%;
      border-radius: 10px; }
    main section .inputs #password {
      height: 50px;
      width: 90%;
      border-radius: 10px;
      margin-bottom: 5%; }
    main section .recordar {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 20px;
      color: #ffffff; }
    main section input[type="checkbox"] {
      width: 20px;
      accent-color: aqua; }
    main section .cambioContraseña {
      display: flex;
      justify-content: center; }
      main section .cambioContraseña a {
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
        margin-top: 5%; }
        main section .cambioContraseña a:hover {
          color: #00ecd1; }
    main section .volverInicioSesion {
      display: flex;
      justify-content: center; }
      main section .volverInicioSesion a {
        color: #ffffff;
        font-weight: bold;
        font-size: 30px;
        margin-top: 5%; }
        main section .volverInicioSesion a:hover {
          color: #00ecd1; }
    main section .credencialesInvalidas {
      color: #ff3636;
      display: flex;
      justify-content: center;
      margin-top: 5%;
      font-size: 30px;
      font-weight: bold; }
    main section .botonIngresarCentrar {
      display: flex;
      justify-content: center;
      margin-top: 5%; }
    main section .botonIngresar {
      background-color: aqua;
      height: 75px;
      width: 50%;
      border-radius: 35px;
      font-size: 30px;
      font-weight: bold; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
