@import "./base/reset";
@import "./layout/main-index";
@import "./layout/fullScreen";
@import "./layout/_header";
@import "./components/_navbar";
@import "./layout/_main-principal";
@import "./layout/_main-rutinas";
@import "./layout/_main-clientes";